# How python make us code less
## python function

In [0]:
def say_hello(name):
  print(f"hello {name}, nice to meet you")

In [2]:
say_hello("rajnikant")

hello rajnikant, nice to meet you

In [0]:
def common(list_a , list_b):
  common_num = []
  
  for a in list_a:
    for b in list_b:
      if a == b:
        common_num.append(a)
  return common_num

In [7]:
x = [1,2,3,4]
y = [2,4,5,6]
common(x,y)

[2, 4]


## list comprehension

## `new_list = [expression for_loop_one_or_more condtions]`

In [8]:
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]

print(squares)

[1, 4, 9, 16]

In [9]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = [a for a in list_a for b in list_b if a == b]

print(common_num)

[2, 3, 4]

In [10]:
list_a = [1, 2, 3]

square_cube_list = [ [a**2, a**3] for a in list_a]

print(square_cube_list)

[[1, 1], [4, 8], [9, 27]]

## zipping

In [14]:
fruits = ["Apple","banana","Grapes"]
prices = [100, 40, 90]


for fruit,price in zip(fruits, prices):
  print(f" {fruit.ljust(10)}  {price}")

 Apple       100
 banana      40
 Grapes      90

## lambda, map and filter in Python


1.   lambda operator or lambda function is used for creating small, one-time and anonymous function objects in Python.
2.   Map executes function for each element in the sequence and returns a list of the elements modified by the function
3.   filter returns only those element for which the function_object returns true


---



```
lambda arguments : expression
```

In [16]:
add = lambda x, y : x + y 
  
print(add(2, 3))

5



---



```
map(function_object, iterable1, iterable2,...)
```

In [19]:
def multiply2(x):
  return x * 2
num =  [1, 2, 3, 4]

list(map(multiply2,num))

[2, 4, 6, 8]

In [20]:
list(map(lambda x : x*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [23]:
dict_a = [{'name': 'python', 'points': 10},
          {'name': 'java', 'points': 8}]
  
out1 =map(lambda x : x['name'], dict_a) # Output: ['python', 'java']
  
out2 = map(lambda x : x['points']*10,  dict_a) # Output: [100, 80]

out3 = map(lambda x : x['name'] == "python", dict_a) # Output: [True, False]

print(list(out1))
print(list(out2))
print(list(out3))

['python', 'java']
[100, 80]
[True, False]



---



```
filter(function_object, iterable)
```

In [26]:
a = [1, 2, 3, 4, 5, 6]
list(filter(lambda x : x % 2 == 0, a))

[2, 4, 6]